* text=auto eol=lf

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

# Lock files should not be merged
composer.lock -diff -merge
package-lock.json -diff -merge

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
